*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    min-width: 280px;
    width: 100%;
    height: 100%;
}